<div id="thumbnails" class="content-padded">

	<div class="row">
		<div class="col">
			<img class="card" src="/images/tim001.png" alt="Batman">
		</div>
		<div class="col">
			<img class="card" src="/images/tim002.jpg" alt="Spider-Man">
		</div>
		<div class="col">
			<img class="card" src="/images/tim003.jpg" alt="Superman">
		</div>
	</div>
	<div class="row">
		<div class="col">
			<img class="card" src="/images/tim004.jpg" alt="Storm">
		</div>
		<div class="col">
			<img class="card" src="/images/tim005.jpg" alt="Wonder Woman">
		</div>
		<div class="col">
			<img class="card" src="/images/tim006.jpg" alt="Dick Grayson">
		</div>
	</div>
	<div class="row">
		<div class="col">
			<img class="card" src="/images/tim007.jpg" alt="Barry Allen">
		</div>
		<div class="col">
			<img class="card" src="/images/tim008.jpg" alt="Nightcrawler">
		</div>
		<div class="col">
			<img class="card" src="/images/tim009.jpg" alt="Thor">
		</div>
	</div>
	<div class="row">
		<div class="col">
			<img class="card" src="/images/tim010.jpg" alt="Gambit">
		</div>
		<div class="col">
			<img class="card" src="/images/tim011.jpg" alt="Aquaman">
		</div>
		<div class="col">
			<img class="card" src="/images/tim012.jpg" alt="Wally West">
		</div>
	</div>
	<div class="row">
		<div class="col">
			<img class="card" src="/images/tim013.jpg" alt="Hulk">
		</div>
		<div class="col">
			<img class="card" src="/images/tim014.jpg" alt="Wolverine">
		</div>
		<div class="col">
			<img class="card" src="/images/tim015.jpg" alt="Black Panther">
		</div>
	</div>

</div>

<script>
	var singleView = new steroids.views.WebView({
		location: 	"/views/application/single.html",
		id: 		"singleView"
	});

	singleView.preload();
</script>